ul{
    padding:0;
    background:black;
    font-family:Arial, sans serif;
    font-size:12px;
    text-transform:uppercase;
}

li{
    display:inline-block;
}

.openpage{
    display:block;
    padding:10px;
    color:white;
    text-decoration:none;
}

.logout{
background-color: black;
color: white;

}
