.navin{
    padding:0;
    background:black;
    font-family:Arial, sans serif;
    font-size:20px;
    text-transform:uppercase;
    display: flex;
    justify-content: flex-start;
    margin-bottom: auto;
}

.novin{
    display:inline-block;
}

.openpage{
    display:block;
    padding:10px;
    color:white;
    text-decoration:none;
}

.logout{
background-color: black;
color: white;


}

.userButton{
    border-radius: 50%;
    font-size: 24px;
}
