
.waviy{
  height:500px;
    padding-top: 0;
    margin: 0;
    bottom:60px;

    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    background-image:url("https://i.ibb.co/kGgmRcP/giphy.gif");
    background-repeat: no-repeat;
    background-position: center;


  }

  .waviy {
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .waviy {
    position: relative;
    /* -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2)); */
    font-size: 60px;
  }
  .waviy span {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color: #81f1f7;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));

  }
  @keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }

  .welcome{
    display: flex;
    justify-content: center;
  }
  .container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: -webkit-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
    background: -moz-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
    background: -ms-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
    background: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
  }
  .content {
    display:flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 1000;
  }
  .container h2 {
    position: absolute;
    top: 50%;
    line-height: 100px;
    height: 100px;
    margin-top: -50px;
    font-size: 100px;
    width: 100%;
    text-align: center;
    color: transparent;
    animation: blurFadeInOut 3s ease-in backwards;
  }
  .container h2.frame-1 {
    animation-delay: 0s;
  }
  .container h2.frame-2 {
    animation-delay: 2.5s;
  }
  .container h2.frame-3 {
    animation-delay: 5s;
  }
  .container h2.frame-4 {
    font-size: 200px;
    animation-delay: 7.5s;
  }
  .container h2.frame-5 {
    animation: none;
    color: transparent;
    text-shadow: 0px 0px 1px #fff;
  }
  .container h2.frame-5 span {
    animation: blurFadeIn 3s ease-in 12s backwards;
    color: transparent;
    text-shadow: 0px 0px 1px #fff;
  }
  .container h2.frame-5 span:nth-child(2) {
    animation-delay: 13s;
  }
  .container h2.frame-5 span:nth-child(3) {
    animation-delay: 14s;
  }

  @keyframes blurFadeInOut{
    0%{
      opacity: 0;
      text-shadow: 0px 0px 40px #fff;
      transform: scale(0.9);
    }
    20%,75%{
      opacity: 1;
      text-shadow: 0px 0px 1px #fff;
      transform: scale(1);
    }
    100%{
      opacity: 0;
      text-shadow: 0px 0px 50px #fff;
      transform: scale(0);
    }
  }
  @keyframes blurFadeIn{
    0%{
      opacity: 0;
      text-shadow: 0px 0px 40px #fff;
      transform: scale(1.3);
    }
    50%{
      opacity: 0.5;
      text-shadow: 0px 0px 10px #fff;
      transform: scale(1.1);
    }
    100%{
      opacity: 1;
      text-shadow: 0px 0px 1px #fff;
      transform: scale(1);
    }
  }
  @keyframes fadeInBack{
    0%{
      opacity: 0;
      transform: scale(0);
    }
    50%{
      opacity: 0.4;
      transform: scale(2);
    }
    100%{
      opacity: 0.2;
      transform: scale(5);
    }
  }
  .bg-container {
    background-image: url("https://i.ibb.co/CztJ1JY/cdd20-7s-Ulk1-PLZ0-unsplash.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    min-width: 100%;
    max-width: 100%;
    background-position: center;
    height: 100%;
  }
  .bg{
    background-color: white;
    height: 500px;
    background-image: url("https://i.ibb.co/pdmQpgw/yves-alarie-v-CYfd-Vh-IZ2-Y-unsplash.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    min-width: 100%;
    max-width: 100%;
    background-position: center;
    height: 100%;
  }


 .test {
    display:flex;
    justify-content: center;
    font-family: "Arial Black", sans-serif;
    font-size: 4.5em;
    letter-spacing: -1px;
    background-color: black;
    color: white;
   }

  .homeFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgb(85,85,85);
}

.homeAboutContainer {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.homeAboutImg {
    height: 64px;
    width: auto;
}

.about{
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.six h1 {
  text-align: center;
  color:white; font-size:30px; font-weight:400;
  text-transform: uppercase;
  word-spacing: 1px; letter-spacing:2px; color:aquamarine;
}
.six h1 span {
  line-height:2em; padding-bottom:15px;
  text-transform: none;
  font-size:.7em;
  font-weight: normal;
  font-style: italic; font-family: "Playfair Display","Bookman",serif;
  color:#999; letter-spacing:-0.005em; word-spacing:1px;
  letter-spacing:none;
}
.six h1:after, .six h1:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 45px;
  height: 4px;
  content: "";
  right: 45px;
  margin:auto;

}

.six{
  display: flex;
  justify-content: center;
}

.seven h1 {
  text-align: center;
      font-size:30px; font-weight:300; color:white; letter-spacing:1px;
      text-transform: uppercase;
      display: grid;
      padding-top: 50px;
      grid-template-columns: 1fr max-content 1fr;
      grid-template-rows: 27px 0;
      grid-gap: 20px;
      align-items: center;
  }

  .seven h1:after,.seven h1:before {
      content: " ";
      display: block;
      border-bottom: 1px solid #c50000;
      border-top: 1px solid #c50000;
      height: 5px;
    background-color:aquamarine;
  }

  .paragraph{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    left:300px;
    margin:0;
  }


  .deconstructed {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    height: 100px;
    color: transparent;
    font-family: 'Cambay', sans-serif;
    font-size: 5vw;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 1.03em;
  }

  .deconstructed > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: Brown;
    pointer-events: none;
  }

  .deconstructed > div:nth-child(1) {
    -webkit-mask-image: linear-gradient(black 25%, transparent 25%);
    mask-image: linear-gradient(black 25%, transparent 25%);
    animation: deconstructed1 5s infinite;
  }

  .deconstructed > div:nth-child(2) {
    -webkit-mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
    mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
    animation: deconstructed2 5s infinite;
  }

  .deconstructed > div:nth-child(3) {
     -webkit-mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
    mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
    animation: deconstructed3 5s infinite;
  }

  .deconstructed > div:nth-child(4) {
     -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
    mask-image: linear-gradient(transparent 75%, black 75%);
    animation: deconstructed4 5s infinite;
  }

  @keyframes deconstructed1 {
    0% {
      transform: translateX(100%);
    }
    26% {
      transform: translateX(0%);
    }
    83% {
      transform: translateX(-0.1%);
    }
    100% {
      transform: translateX(-120%);
    }
  }

  @keyframes deconstructed2 {
    0% {
      transform: translateX(100%);
    }
    24% {
      transform: translateX(0.5%);
    }
    82% {
      transform: translateX(-0.2%);
    }
    100% {
      transform: translateX(-125%);
    }
  }

  @keyframes deconstructed3 {
    0% {
      transform: translateX(100%);
    }
    22% {
      transform: translateX(0%);
    }
    81% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-130%);
    }
  }

  @keyframes deconstructed4 {
    0% {
      transform: translateX(100%);
    }
    20% {
      transform: translateX(0%);
    }
    80% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-135%);
    }
  }

  .paragraph{
    display:flex;
    justify-content: center;
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    background-color: aliceblue;
    }

  .fix{
    display: flex;
    justify-content: center;
    padding-top: 100px;}

  .padd{
    padding-top: 20px;
    color: white;
  }

  .linkz{
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }

  .area {
    text-align: center;
    font-size: 6.5em;
    color: #fff;
    letter-spacing: -7px;
    font-weight: 700;
    text-transform: uppercase;
    animation: blur .75s ease-out infinite;
    text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
  }

  @keyframes blur {
    from {
      text-shadow:0px 0px 10px #fff,
        0px 0px 10px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 50px #fff,
        0px 0px 50px #fff,
        0px 0px 50px #7B96B8,
        0px 0px 150px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px -10px 100px #7B96B8,
        0px -10px 100px #7B96B8;
    }
  }

  .buttin {
    background-color: brown;
    color: white;

    padding: 1em 1.5em;
    width: 100px;

    text-decoration: none;
    border-radius: 50%;
    text-transform: uppercase;
  }

  .buttin:hover {
    background-color: brown;
  }

  .buttin:active {
    background-color: brown;
  }

  .buttin:visited {
    background-color: brown;
  }
