

.main-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    height:600px
}

.error-list{
   display: flex;
   background-color: aquamarine;
   flex-direction: column;
}
.newspot-container{
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    align-items: center;
    width: 100%;
    margin-right: 0px;
}

.newspot-form{
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 4%;
}

.post-image-preview{
    height: 25vh;
    width: 25vw;
    object-fit: cover;
}

.new-post-photo-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 35vh;
    width: 80vw;
    margin-bottom: 20px;
}

.content1-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}
.errors{
    color: black;
}
.new-post-photo-header{
    margin-top: 15px;
}

.new-spot-input{
    margin: 0px;
    width: 20vw;
    border: none;
    box-shadow: 0 5px 15px -2px rgb(201, 201, 201);
    height: 40px;
    padding-left: 20px;
}




.input-field-new{
    margin-top:5px;
}

.price-per-night{
    margin-left: 10px;
    margin-top: 15px;
}

.new-spot-input{
    display: flex;
    justify-content: end;
}

.new-home-header{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    font-size: 9rem;
    text-align: center;
  height:15vh;
  line-height: 15vh;
    color: #fcedd8;
    background: aquamarine;
       font-family: 'Niconne', cursive;
    font-weight: 700;
  text-shadow: 5px 5px 0px #eb452b,
              10px 10px 0px #efa032,
              15px 15px 0px #46b59b,
              20px 20px 0px #017e7f,
              25px 25px 0px #052939,
              30px 30px 0px #c11a2b,
              35px 35px 0px #c11a2b,
              40px 40px 0px #c11a2b,
              45px 45px 0px #c11a2b;
}
